* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "teko", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "teko", sans-serif;
}

@font-face {
  font-family: "teko";
  src: url(/src/fonts/Teko-Light.ttf);
}
